.title {
    font-size: 40px;
    font-weight: 700;

}

.font {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.year {
    position: relative;
    top: 20px;
    left: 2px;
}

.property {
    text-transform: lowercase;
}

.dataproperty {
    text-transform: uppercase;
}

.card {
    border-radius: 0px;
    background-color: #dcd9d2;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}