.title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.font {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.year {
    position: relative;
    top: 20px;
    margin-left: 10px;
}

.property {
    text-transform: lowercase;
}

.dataproperty {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
}

.card {
    border-radius: 0px;
    background-color: #dcd9d2;


}

header {
    background-color: #f4f1ea;
}

input[type="text"] {
    width: 30%;
    /* Ajusta el porcentaje al tamaño deseado */
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.is-not-valid-field input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 18px;
    display: none;
}

.is-not-valid-field .error-message {
    display: block;
}

.favbtn {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    align-items: center;

}

.star-icon {
    font-size: 2rem;
    color: silver;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

/* Cambio al pasar el ratón */
.star-icon:hover {
    color: gold;
    transform: scale(1.2);
    /* Pequeño aumento en tamaño */
}

/* Cambio permanente al hacer clic */
.star-icon.active {
    color: gold;
}